#order-form
  = form_for @order do |f|
    .form-inputs
      .container.center.jumbotron
        %h3 Delivery method
        %br/
        = f.label :delivery_method
        = f.text_field :delivery_method

      .container.center.jumbotron
        .grid.container-fluid
          .row-fluid
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              %h3 Billing information
              = f.label :delivery_name
              = f.text_field :delivery_name
              %br/
              = f.label :delivery_phone
              = f.text_field :delivery_phone
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              .field
                = f.label :billing_country
                %br/
                = f.country_select :billing_country, prompt: 'Please select a country'
              %br/
              .field
                = f.label :billing_region
                %br/
                = render partial: 'subregion_select', locals: {parent_region: f.object.billing_country}
              = f.label :billing_city
              = f.text_field :billing_city
              %br/
              = f.label :billing_address
              = f.text_field :billing_address

      .container.center.jumbotron
        %h3 Payment method
        = f.label :payment_method
        = f.text_field :payment_method
        %br/
        

    .form-actions
      = f.button :submit
