- if order_s.present? 
  .table-responsive
    - index = 0
    %table.table.table-striped.table-bordered
      %thead.thead-dark
        %tr
          %th.center ID
          %th.center Date
          %th.center Total
      %tbody
        - @orders_by_status = Order.all.where(status: order_s)
        - @orders_by_status.each do |order|
          %tr.center.hoverable{:onclick => "$.showOrder(#{order.id})"}
            %td
              = order.id
            %td
              = order.created_at
            %td
              = order.total_price
          %tr.center.hidden{id: "hidden-row-#{order.id}"}
            %td{:colspan => 3}
              %table.table.table-striped.table-bordered
                %thead.thead-dark
                  %tr
                    %th.center Quantity x Product (Price)
                    %th.center Total
                %tbody.thead-dark
                  - order.order_items.each do |item|
                    %tr
                      %td.center
                        = item.quantity
                        x
                        = item.product.name
                        (
                        = item.product.price
                        )
                      %td.center
                        = number_to_currency(item.total_price, precision: 2)
