.order-body
  %h1 Payment information
  %br/
  = form_for @order do |f|
    .form-inputs
      .container.jumbotron
        %h3 1. Delivery method
        %br/
        .grid.container-fluid.center
          .row-fluid
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              = f.radio_button :delivery_method, 'Personal pick up', :checked => true
              = label :delivery_method, 'personal_pick_up'
              
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              = f.radio_button :delivery_method, 'Delivery by courier'
              = label :delivery_method, 'delivery_by_courier'

      .container.jumbotron
        %h3 2. Billing information
        .grid.container-fluid.center
          .row-fluid
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              = f.label :delivery_name
              = f.text_field :delivery_name, { :value => "#{current_user.first_name}" + " " + "#{current_user.last_name}"}
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              = f.label :delivery_phone
              = f.text_field :delivery_phone
          .row-fluid

            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .field
                = f.label :billing_country
                %br/
                = f.country_select :billing_country, prompt: 'Please select a country'
              %br/
              .field
                = f.label :billing_region
                %br/
                = render partial: 'subregion_select', locals: {parent_region: f.object.billing_country}

          .row-fluid
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              = f.label :billing_city
              = f.text_field :billing_city

            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              = f.label :billing_address
              = f.text_field :billing_address

      .container.jumbotron
        %h3 3. Payment method
        .grid.container-fluid.center
          .row-fluid
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              = f.radio_button :payment_method, 'Pay by card', :checked  => true
              = label :payment_method, 'pay_by_card'

            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              = f.radio_button :payment_method, 'Pay on delivery'
              = label :payment_method, 'pay_on_delivery'
        %br/
        
        = f.hidden_field :user_id, { :value => "#{current_user.id}"}
        = f.hidden_field :status, { :value => "pending"}

    .pull-right
      %h3 Total: #{number_to_currency(@cart.total_price, precision: 2)}
      %br/
      .form-actions
        = f.button :Continue, { class: "btn btn-primary" }

-# order=Order.create(status: "pending", user_id: 1, delivery_method: "courier", delivery_name: "Jeler Eduard", delivery_phone: "0741735772", billing_country: "RO", billing_region: "CJ", billing_city: "Cluj-Napoca", billing_address: "Str. Parang")