#order-show
  %p#notice= notice

  .container
    %h2 Odrder number: #{@order.id}
    %h4 Status: #{@order.status}
    %h3 Billing information: 
    %h4 Name: #{@order.delivery_name}
    %h4 Delivery method: #{@order.delivery_method}
    %h4 Payment method: #{@order.payment_method}