%p#notice= notice
%h1 Carts

%br/
%br/

%table.table-striped.table-bordered
  %thead
    %tr
      %th User
      %th Cart_id
      %th{:colspan => "3"}
  %tbody
    - @carts.each do |cart|
      %tr
        %td= cart.user_id
        %td= cart.id
        %td= link_to 'Show', cart
        %td= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' }
%br/