.container
  .row
    .col.col-lg-10.offset-lg-1
      %p#notice= notice
      %h1 Carts

      %br/
      %br/

  .row
    .col-lg-12
      %table.table-striped.table-bordered
        %thead
          %tr
            %th.col-lg-4
              User
            %th.col-lg-4
              Cart_id
            %th.col-lg-4.center{:colspan => "2"}
              Actions
        %tbody
          - @carts.each do |cart|
            %tr
              %td.col-lg-2= cart.user_id
              %td.col-lg-2= cart.id
              %td.col-lg-2= link_to 'Show', cart
              %td.col-lg-2= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' }
      %br/