%br/
%p#notice= notice
%p

%table.table.table-striped.table-bordered
  %thead.thead-dark
    %tr
      %th{:scope => "col"} Product
      %th{:scope => "col"} Price
  %tbody
    - @products_in_cart=@cart.order_items
    - @products_in_cart.each do |item|
      %tr
        %td
          = item.quantity
          X
          = item.product.name
          (
          = number_to_currency(item.product.price, precision: 2)
          )
          -# %a{:href => order_item_path(product_id: item.product)}-
        %td
          = number_to_currency(item.total_price, precision: 2)
  %tfooter
    %tr
      %td
        %strong Total:
      %td
        = number_to_currency(@cart.total_price, precision: 2)
.checkout-buttons
  = link_to 'Go back to products', products_path, class: "btn btn-primary"
  .pull-right
    = link_to "Checkout", "#", class: "btn btn-primary"
  .pull-right
    = button_to 'Empty Cart', @cart, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
%br/

- if can? :manage, Cart  
  = link_to 'Edit', edit_cart_path(@cart)
  |
  = link_to 'Back', carts_path
