%br/
%p#notice= notice
%p

%table.table.table-striped.table-bordered
  %thead.thead-dark
    %tr
      %th{:scope => "col"} Product
      %th{:scope => "col"} Price
  %tbody
    - @products_in_cart=@cart.order_items
    - @products_in_cart.each do |item|
      %tr
        %td
          = item.quantity
          x
          = item.product.name
          (
          = number_to_currency(item.product.price, precision: 2)
          )
          .pull-right
            = link_to '', increment_quantity_order_item_path(item), { class: "glyphicon glyphicon-plus" }
            = link_to '', decrement_quantity_order_item_path(item), { class: "glyphicon glyphicon-minus" }
            = link_to '', item, method: :delete, data: { confirm: "Are you sure? " }, class: "glyphicon glyphicon-trash"
        %td
          = number_to_currency(item.total_price, precision: 2)
  %tfooter
    %tr
      %td
        %strong Total:
      %td
        = number_to_currency(@cart.total_price, precision: 2)
.checkout-buttons
  = link_to 'Go back to products', products_path, class: "btn btn-primary"
  .pull-right
    = link_to "Checkout", "#", class: "btn btn-primary"
  .pull-right
    = button_to 'Empty Cart', @cart, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
%br/