- if not current_user.admin?
  = redirect_to root_path


%ul.nav.nav-tabs
  %li.active
    %a{ "data-toggle" => "tab",  :href => "#products"} Products
  %li
    %a{ "data-toggle" => "tab",  :href => "#categories"} Categories

.tab-content
  #products.tab-pane.fade.in.active
    %h1 prod
  #categories.tab-pane.fade.in
    %p#notice= notice
    %h1 
      Categories
    %table
      %thead
        %tr
          %th
            Name
          %th{:colspan => "3"}
      %tbody
        - @categories.each do |category|
          %tr
            %td= category.name
            %td= link_to 'Show', category
            %td= link_to 'Edit', edit_category_path(category)
            %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }
    %br/
    = link_to 'New Category', new_category_path
