%p#notice= notice

.center
  %h1 #{@category.name}

  %ul.nav.nav-tabs
    %li{class: "#{@category.blank? ? 'active':''}"}
      = link_to 'Home', products_path
        
    - @categories.in_groups_of(3, false).each_with_index do |group, index|
      -group.each do |category| 
        %li{class: "#{@category.name == category.first ? 'active':''}"}
          = link_to "#{category.first}", controller: 'categories', action: 'show', id: "#{category.second}"

  %br

  .tab-content
    .tab-pane.fade.in.active{:id => "#{@category.name}"}
      - show_category(@category)
      = render 'products/products_category'
