= simple_form_for(@product) do |form|
  = form.error_notification
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :price
    = form.text_field :price
  .field
    = form.label :category_id
    = select_tag(:category_id, options_for_select(@categories), :prompt => "Select one!")
  %span.image
    = form.label :image
    = form.file_field :image, accept: 'image/jpeg,image/gif,image/png'
  %br
  .field
    = form.label :description
    = form.text_area :description
  .actions
    = form.submit

:javascript
  $('#product_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
