- @categories=Category.all

.center.jumbotron
  - if not user_signed_in?
    %h1 Welcome!!
    %p Sign in or create an account. 
    = link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary button is-warning"
  - else
    %h1 Shop
    %br
    %ul.nav.nav-tabs
      %li.active
        %a{ "data-toggle" => "tab",  :href => "#home", :onclick => '$("ul.nav-tabs li.active").text();'} Home
          
      - @categories.in_groups_of(3, false).each_with_index do |group, index|
        -group.each do |category|  
          %li
            %a{ "data-toggle" => "tab", :href => "#"+"#{category.name}",:onclick => '$("ul.nav-tabs li.active").text();' } #{category.name}

    %br

    .tab-content
      #home.tab-pane.fade.in.active
        = render 'products_category'
      - @categories.in_groups_of(3, false).each_with_index do |group, index|
        -group.each do |category|  
          .tab-pane.fade.in{:id => "#{category.name}"}
            - show_category(category)
            = render 'products_category'