#products-index
  %p#notice= notice
  %p

  - @categories=Category.all
  .products
    .center
      %h1 Home
        
      %ul.nav.nav-tabs
        %li.active
          %a{ "data-toggle" => "tab"} Home
            
        - @categories.in_groups_of(3, false).each_with_index do |group, index|
          -group.each do |category|  
            %li
              = link_to "#{category.name}", controller: 'categories', action: 'show', id: "#{category.id}"
      %br
      .tab-content
        .tab-pane.fade.in.active
          = render 'products_category'
#search-results