%p#notice= notice
%p
  %strong Name:
  = @product.name
  %br
  %strong Category:
  = @product.category.name
  %br
  %strong Price:
  = @product.price
  %br
  %strong Description:
  = @product.description
  %br
  %img.card-img-top{:alt => "Card image cap", :src => @product.image_url(:thumb)}
- if can? :manage, Product
  = link_to 'Edit', edit_product_path(@product)

= link_to 'Back', dashboard_path
